@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.BusButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.BusButton:hover {
  background-color: #3e8e41;
}

.BusButton:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}
.map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* .sidebar {
  position: absolute;
  top: 12%;
  left: 0;
  padding: 10px;
  width: 350px;
  height: 75%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
} */




#map {
  height: 0 !important;
}

/* .css-b62m3t-container{
width: 80%;
} */
@keyframes slideInFromRight {
  from {
    right: -100%;
  }
  to {
    right: 10px;
  }
}


.bus-message {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0085FF;
  padding: 10px;
  border-radius: 16px;
  z-index: 1000;
  display: flex;
  align-items: center;
  color: white;
  text: 18px;
  animation: slideInFromRight 0.5s ease-out;
}

.bus-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}


/********** Sidebar **********/
.sidebar{
  background-color: white;

}
.selections{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;

}
.selections.shadow-bottom{
  box-shadow: 0px 8px 15px -5px rgba(0, 0, 0, 0.3);
}

.css-1u9des2-indicatorSeparator{
  width: 0 !important;
}
.css-894a34-indicatorSeparator{
  width: 0 !important;
}
.sidebar-selection .css-1wy0on6{
  position: relative;
  right: 20px;
}

.sidebar-selection .css-hlgwow {
  padding: 10px 20px !important;
}

.css-1q7yupa-control{
  border-radius: 17px !important;
}
.css-147yby3-control{
  border-radius: 17px !important;
}
.css-cn09ku-control{
  border-radius: 17px !important;
}
.css-1w0b5j1-control{
  border-radius: 17px !important;
}

.css-zmfhxv-control{
  border-radius: 17px !important;
}
.css-1xc6n93-control{
  border-radius: 17px !important;
}
.css-1qto2x3-control{
  border-radius: 17px !important;
}

.icon-bus{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.icon-city{
  width: 22px;
  height: 28px;
  margin-right: 10px;
  vertical-align: middle;
}

/********** Stop info **********/

.stop-list {
  max-height: 300px;
  overflow-y: hidden !important;
  padding: 0 20px;
  
}

.stop-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.stop-item-left {
  display: flex;
  flex-direction: column;
}

.stop-name {
  font-weight: bold;
  /* Weitere Styling-Attribute */
}

.arrival-info {
  text-align: right;
  /* Weitere Styling-Attribute */
}
.scheduled-time.ontime{
  color: green;
}

.scheduled-time.strike-through {
  text-decoration: line-through;
  color: red;
}
.scheduled-time.not-operating{
  color: black;
}

.delay-info.delayed {
  color: red;
}
.delay-info.ontime {
  color: green;
}
.delay-info.not-operating{
  display: none;
}

.actual-time {
  color: green; /* oder eine andere Farbe, je nach Design */
  /* Weitere Styling-Attribute */
}

.stop-dot{
  position: absolute !important;
  width: 10px !important;
  height: 10px !important;
  background-color: red;
  border-radius: 100% !important;

}

/********** Prediction **********/
.prediction{
  padding-top: 15px !important;
  left: 46% !important;
  z-index: 50;
  width: 340px;
}
.p-prediction{
  width: 150px !important;
}
.css-16xfy0z-control{
  border-radius: 50px !important;
  width: 150px !important;
}
.css-13cymwt-control{
  border-radius: 50px !important;
    width: 150px !important;
}
.css-t3ipsp-control{
  border-radius: 50px !important;
    width: 150px !important;
}
.css-894a34-indicatorSeparator{
  width: 0 !important;
}


.prediction .css-hlgwow{
  padding: 0px 10px !important;

}

